#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

ifneq (,$(or $(filter noopt,$(DEB_BUILD_OPTIONS)),\
	$(filter nostrip,$(DEB_BUILD_OPTIONS))))
	FLAGS += debug=1
endif

BACKEND := debian/appsuite-mailvelope/opt/open-xchange

FRONTEND := debian/appsuite-mailvelope-static/var/www/html

override_dh_auto_install:
	mkdir -p $(BACKEND)
	cp -a dist/* $(BACKEND)

	mkdir -p $(FRONTEND)
	cp -a dist/appsuite $(FRONTEND)

override_dh_auto_clean:
	rm -rf $(FRONTEND) $(BACKEND)

%:
	dh $@
